// Hero-header

.hero-header {
    // background: linear-gradient(to right, #3DCFBD, #2FA4BE);
    background: url("/images/laptop.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
    .heading {
        padding: 11em 0em;

        .btn-custom {
            background-color: $app-secondary-color;
            padding: 0.375rem 3rem;
            border: 1px solid $app-secondary-color;
            border-radius: 0;
            transition: background-color 0.25s ease-in-out;

            &:hover {
                background-color: rgba($app-secondary-color, 0.25)
            }
        }
    }
}

.statistics {
    background: linear-gradient(to right, #3DCFBD, #2FA4BE);
    padding: 0.40rem 0 0.72rem;
    color: white;
}

// Featurettes

.featurette-divider {
    margin: 5rem 0; /* Space out the Bootstrap <hr> more */
}
  
/* Thin out the marketing headings */
.featurette-heading {
    font-weight: 300;
    line-height: 1;
    letter-spacing: -.05rem;

    @media (min-width: 40em) {
        font-size: 50px;
    }
      
    @media (min-width: 62em) {
        margin-top: 7rem;
    }
}