// Start index
// ---------------------------------------------------------------

// Start hero-header
// -------------------------------

.hero-header {
    // background: linear-gradient(to right, #3DCFBD, #2FA4BE);
    background: url("/images/laptop.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
    .heading {
        padding: 9.7rem 0rem;

        .btn-custom {
            margin-top: 1rem;
            background-color: $app-secondary-color;
            padding: 0.375rem 3rem;
            border: 1px solid $app-secondary-color;
            border-radius: 0;
            transition: background-color 0.25s ease-in-out;

            &:hover {
                background-color: rgba($app-secondary-color, 0.25)
            }
        }
    }
}

// -------------------------------
// End hero-header


// Statistics
// -------------------------------

.statistics {
    background: linear-gradient(to right, #3DCFBD, #2FA4BE);
    padding: 0.40rem 0 0.72rem;
    color: white;
    // text-transform: uppercase;
}

// -------------------------------
// End statistics

//  Start features
// -------------------------------
.featurette-divider {
    margin: 5rem 0;
}

.featurette-heading {
    font-weight: 300;
    line-height: 1;
    letter-spacing: -.05rem;

    @media (min-width: 40em) {
        font-size: 50px;
    }
      
    @media (min-width: 62em) {
        margin-top: 7rem;
    }
}

.footer {
    background: $app-primary-color;
}

// -------------------------------
// End features

// ---------------------------------------------------------------
// End index