.edit-profile {
    background: #F5F5F5;
    border: 1px solid #e1e1e1;
    padding: 0.8rem 0rem 0rem 0rem;

    .nav-link, .nav-tabs {
        background: #F5F5F5;
        color: $app-primary-color;

        .active {
            color: $app-primary-color;
            background: white;
        }
    }

    .nav-tabs {
        padding: 0rem 1rem 0rem 0rem;
    }

    .tab-content {
        color: $app-primary-color;
        padding: 1rem 1rem;
        background: white;
    }
}

.gender-check {
    .form-group {
        margin-bottom: 0;
    }
}