.edit-profile {

    .nav-link, .nav-tabs {
        color: black;

        .active {
            color: $app-secondary-color;
        }
    }

    .tab-content {
        color: $app-primary-color;
        padding: 1rem 0rem;
    }
}

.gender-check {
    .form-group {
        margin-bottom: 0;
    }
}